<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Collection&auction</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container bg-module">
      <div class="text-box">
        <div class="title wow fadeInUp">
          The professional expert team<br>
          is responsible for selecting<br>
          high-end NFT all over the world
        </div>
        <a href="" class="link-btn wow fadeInUp">
          <span>Take you to appreciate the charm of NFT</span>
          <img src="/public/images/home/arrow-top-right.svg" alt="">
        </a>
      </div>
      <div class="bg-img">
        <img src="/public/images/collection/banner.png" alt="">
      </div>
    </section>
    <section class="collection-container">
      <div class="max-center collection-wrapper">
        <div class="title wow fadeInUp">收藏与拍卖</div>
        <div class="text-list">
          <div class="text-item wow fadeInUp">
            REVA斥巨资打造了一支由数字艺术品鉴赏专家，区块链技术专家，NFT技术专家，金融分析专家，同时公司董事会及核心运营团队吸纳了包括维京全球顶级金融家，英国大公拍卖行资深拍卖师，艺术家等团队，现团队人数已经超800人为REVA的数字艺术品收藏与拍卖业务提供了专业，优质，安全的拍卖交易保障，以及REVA与贝恩，维京共同设立了NFT收藏基金，金融运作，通过金融运作的方式，收藏高端数字艺术品产生高额的盈利总体浮盈率达到142.7%
          </div>
          <div class="text-item wow fadeInUp">
            注：买家佣金制度具体调整为：落槌价达到（含）10万英镑的拍品，买家佣金收取25%；落槌价在10万英镑以上、200万英镑（含）以内的拍品，买家佣金收取20%；在200万英镑以上的拍品，买家佣金收取12%。（小字）
          </div>
        </div>
      </div>
    </section>
    <section class="point-container">
      <div class="title-module">our point of view</div>
      <div class="max-center point-box">
        <ul class="nav-list">
          <li class="nav-item wow fadeInUp on">拍卖作品</li>
          <li class="nav-item wow fadeInUp">收藏作品</li>
          <li class="nav-item wow fadeInUp">拍卖担保业务</li>
          <li class="nav-item wow fadeInUp">线下拍卖会</li>
        </ul>
        <ul class="point-list">
          <li class="point-item on">
            <div class="product-item wow fadeInUp">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item wow fadeInUp">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
            <div class="product-item wow fadeInUp">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
            <div class="product-item wow fadeInUp">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
          <li class="point-item">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
          <li class="point-item">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
          <li class="point-item">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="m-point-container">
      <div class="title-module">our point of view</div>
      <div class="max-center point-box">
        <ul class="point-list">
          <li class="point-item on">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
          <li class="point-item">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
          <li class="point-item">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
          <li class="point-item">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
        </ul>
        <div class="text">
          <a href="auction.html" class="more">MORE &gt;&gt;</a>
        </div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>