<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container bg-module">
      <div class="text-box">
        <a href="" class="link-btn wow fadeInUp">
          <span>Take you to appreciate the charm of NFT</span>
          <img src="/public/images/home/arrow-top-right.svg" alt="">
        </a>
        <div class="title wow fadeInUp">
          Digital art collection<br>
          Heavy gold layout yuan universe
        </div>
      </div>
      <div class="bg-img">
        <img src="/public/images/news/banner.png" alt="">
      </div>
    </section>
    <section class="consulting-container">
      <div class="title-module wow fadeInUp">consulting center</div>
      <div class="center">
        <ul class="consulting-list">
          <li class="consulting-item wow fadeInUp">
            <div class="date">
              <div class="year">2019</div>
              <div class="mouth">03.05</div>
            </div>
            <div class="text">
              <a href="news_view.html" class="title">
                大公拍卖行收购REVA，重金布局元宇宙
              </a>
              <div class="date">2020.08.12</div>
              <a class="desc">
                Bain Capital is an international private equity investment fund with a management capital of more than
                US
                $65 billion, involving private equity, venture capital funds,
                listed equity hedge funds and leveraged debt asset management.
              </a>
            </div>
          </li>
          <li class="consulting-item wow fadeInUp">
            <div class="date">
              <div class="year">2020</div>
              <div class="mouth">03.05</div>
            </div>
            <div class="text">
              <a href="news_view.html" class="title">
                REVA的异军崛起，nft新星到底有多强？
              </a>
              <div class="date">2020.08.12</div>
              <a class="desc">
                Bain Capital is an international private equity investment fund with a management capital of more than
                US
                $65 billion, involving private equity, venture capital funds,
                listed equity hedge funds and leveraged debt asset management.
              </a>
            </div>
          </li>
          <li class="consulting-item wow fadeInUp">
            <div class="date">
              <div class="year">2019</div>
              <div class="mouth">03.05</div>
            </div>
            <div class="text">
              <a href="news_view.html" class="title">
                英国大公拍卖行计划收购REVA，布局NFT数字艺术品收藏领域
              </a>
              <div class="date">2020.08.12</div>
              <a class="desc">
                Bain Capital is an international private equity investment fund with a management capital of more than
                US
                $65 billion, involving private equity, venture capital funds,
                listed equity hedge funds and leveraged debt asset management.
              </a>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>