<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Collection&auction</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container bg-module">
      <div class="text-box">
        <div class="title wow fadeInUp">
          Strong funds for<br>
          auction guarantee
        </div>
        <div class="note wow fadeInUp">
          Reva relies on David auction house in the UK to guarantee the<br>auction with strong funds. 
        </div>
      </div>
      <div class="bg-img">
        <img src="/public/images/nft/inner_banner.png" alt="">
      </div>
    </section>
    <section class="offline-container">
      <div class="offline-wrapper max-center">
        <div class="title wow fadeInUp">
          OFFLIN AUCTION
        </div>
        <div class="desc wow fadeInUp">
          The Reva platform of Dagong can accept the entrustment of customers to carry out NFT pledge auction business, and then the investors choose the specific products released by the Reva platform to participate in crowdfunding. Reva is responsible for business organization, value evaluation, organizing auction, charging a certain proportion of transaction handling fees, and entrusting auction customers to pledge NFT collections to obtain loans and sales profits, and paying interest according to the loan amount; Investors are responsible for participating in the pledge and auction transactions of NFT collections through crowdfunding to obtain loan interest and auction share income. 
        </div>
        <ul class="icon-list">
          <li class="icon-item wow fadeInUp">
            <div class="icon">
              <img src="/public/images/nft/cont-icon1.png" alt="">
            </div>
          </li>
          <li class="icon-item wow fadeInUp">
            <div class="icon">
              <img src="/public/images/nft/cont-icon2.png" alt="">
            </div>
          </li>
          <li class="icon-item wow fadeInUp">
            <div class="icon">
              <img src="/public/images/nft/cont-icon3.png" alt="">
            </div>
          </li>
        </ul>
        <a href="" class="document wow fadeInUp">
          <img src="/public/images/nft/icon-document.png" alt="">
          <span>View document</span>
        </a>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>