<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <div class="max-center banner-center">
        <div class="text">
          <a href="" class="link-btn wow fadeInLeft">
            <span>Take you to appreciate the charm of NFT</span>
            <img src="/public/images/home/arrow-top-right.svg" alt="">
          </a>
          <div class="title wow fadeInUp">
            A highly centralized
            platform for creating
            collecting and trading
            unique NFTs
          </div>
          <div class="note wow fadeInUp">
            Enter the new world of Digital Art
          </div>
          <div class="btns wow fadeInUp">
            <a href="" class="btn">CREATE</a>
            <a href="" class="btn">COLLECTION</a>
            <a href="" class="btn">TRANSACTION</a>
          </div>
        </div>
      </div>
      <div class="bg-img wow fadeInRight">
        <img src="/public/images/home/banner-img.png" alt="">
      </div>
    </section>
    <section class="financing-overview-container bg-module">
      <div class="title-module wow fadeInUp">
        Financing overview
      </div>
      <ul class="financing-list max-center">
        <li class="financing-item wow fadeInUp">
          <div class="title">
            <span class="text">239M</span>
            <span class="unit">美元</span>
          </div>
          <div class="info">
            Turnover
          </div>
        </li>
        <li class="financing-item wow fadeInUp" data-wow-delay="200ms">
          <div class="title">
            <span class="text">2452</span>
            <span class="unit">个</span>
          </div>
          <div class="info">
            NFT auctioned
          </div>
        </li>
        <li class="financing-item wow fadeInUp" data-wow-delay="400ms">
          <div class="title">
            <span class="text">479</span>
            <span class="unit">个</span>
          </div>
          <div class="info">
            NFT auctioned
          </div>
        </li>
      </ul>
      <div class="bg-img">
        <img src="/public/images/home/financing-overview-bg.png" alt="">
      </div>
    </section>
    <section class="three-container">
      <div class="three-swiper swiper-container max-center">
        <ul class="three-list swiper-wrapper">
          <li class="three-item swiper-slide wow fadeInUp">
            <div class="img" style="background-color: #FA6E4F;">
              <img src="/public/images/home/icon1.png" alt="" class="icon">
              <img src="/public/images/home/bg-1.png" alt="" class="pc-bg bg">
              <img src="/public/images/home/m-bg1.png" alt="" class="m-bg bg">
            </div>
            <div class="text">
              <div class="title">创新</div>
              <div class="note">
                英国大公旗下子公司REVA是一个专业的区块链技术研发企业，专注于行业新兴技术的研发和探索，拥有NFT领域的核心技术。可将顶尖艺术家的创造物铸成NFTs
              </div>
            </div>
          </li>
          <li class="three-item swiper-slide wow fadeInUp" data-wow-delay="200ms">
            <div class="img" style="background-color: #A334FB;">
              <img src="/public/images/home/icon2.png" alt="" class="icon">
              <img src="/public/images/home/bg-2.png" alt="" class="bg">
            </div>
            <div class="text">
              <div class="title">市场</div>
              <div class="note">
                英国大公旗下子公司REVA竞标和拍卖担保顶级的数字收藏品通过金融运作等方式，收藏高端数字艺术品产生高额的盈利
              </div>
            </div>
          </li>
          <li class="three-item swiper-slide wow fadeInUp" data-wow-delay="400ms">
            <div class="img" style="background-color: #20DEB1;">
              <img src="/public/images/home/icon3.png" alt="" class="icon">
              <img src="/public/images/home/bg-3.png" alt="" class="bg">
            </div>
            <div class="text">
              <div class="title">价值</div>
              <div class="note">
                汇聚业内精英多方甄选高端NFT，主导多场高端数字艺术品拍卖活动，涉及收藏品、元宇宙、艺术、游戏、交易平台等多个领域
              </div>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <section class="consulting-container bg-module">
      <div class="title-module wow fadeInUp">consulting center</div>
      <div class="consulting-swiper swiper-container center">
        <div class="swiper-wrapper">
          <ul class="consulting-list swiper-slide">
            <li class="consulting-item wow fadeInUp">
              <div class="date">
                <div class="year">2019</div>
                <div class="mouth">03.05</div>
              </div>
              <div class="text">
                <a href="" class="title">
                  大公拍卖行收购REVA，重金布局元宇宙
                </a>
                <div class="date">2020.08.12</div>
                <a class="desc">
                  Bain Capital is an international private equity investment fund with a management capital of more than
                  US
                  $65 billion, involving private equity, venture capital funds,
                  listed equity hedge funds and leveraged debt asset management.
                </a>
              </div>
            </li>
            <li class="consulting-item wow fadeInUp">
              <div class="date">
                <div class="year">2020</div>
                <div class="mouth">03.05</div>
              </div>
              <div class="text">
                <a href="" class="title">
                  REVA的异军崛起，nft新星到底有多强？
                </a>
                <div class="date">2020.08.12</div>
                <a class="desc">
                  Bain Capital is an international private equity investment fund with a management capital of more than
                  US
                  $65 billion, involving private equity, venture capital funds,
                  listed equity hedge funds and leveraged debt asset management.
                </a>
              </div>
            </li>
            <li class="consulting-item wow fadeInUp">
              <div class="date">
                <div class="year">2019</div>
                <div class="mouth">03.05</div>
              </div>
              <div class="text">
                <a href="" class="title">
                  英国大公拍卖行计划收购REVA，布局NFT数字艺术品收藏领域
                </a>
                <div class="date">2020.08.12</div>
                <a class="desc">
                  Bain Capital is an international private equity investment fund with a management capital of more than
                  US
                  $65 billion, involving private equity, venture capital funds,
                  listed equity hedge funds and leveraged debt asset management.
                </a>
              </div>
            </li>
          </ul>
          <ul class="consulting-list swiper-slide">
            <li class="consulting-item wow fadeInUp">
              <div class="date">
                <div class="year">2019</div>
                <div class="mouth">03.05</div>
              </div>
              <div class="text">
                <a href="" class="title">
                  大公拍卖行收购REVA，重金布局元宇宙
                </a>
                <div class="date">2020.08.12</div>
                <a class="desc">
                  Bain Capital is an international private equity investment fund with a management capital of more than
                  US
                  $65 billion, involving private equity, venture capital funds,
                  listed equity hedge funds and leveraged debt asset management.
                </a>
              </div>
            </li>
            <li class="consulting-item wow fadeInUp">
              <div class="date">
                <div class="year">2020</div>
                <div class="mouth">03.05</div>
              </div>
              <div class="text">
                <a href="" class="title">
                  REVA的异军崛起，nft新星到底有多强？
                </a>
                <div class="date">2020.08.12</div>
                <a class="desc">
                  Bain Capital is an international private equity investment fund with a management capital of more than
                  US
                  $65 billion, involving private equity, venture capital funds,
                  listed equity hedge funds and leveraged debt asset management.
                </a>
              </div>
            </li>
            <li class="consulting-item wow fadeInUp">
              <div class="date">
                <div class="year">2019</div>
                <div class="mouth">03.05</div>
              </div>
              <div class="text">
                <a href="" class="title">
                  英国大公拍卖行计划收购REVA，布局NFT数字艺术品收藏领域
                </a>
                <div class="date">2020.08.12</div>
                <a class="desc">
                  Bain Capital is an international private equity investment fund with a management capital of more than
                  US
                  $65 billion, involving private equity, venture capital funds,
                  listed equity hedge funds and leveraged debt asset management.
                </a>
              </div>
            </li>
          </ul>
          <ul class="consulting-list swiper-slide">
            <li class="consulting-item wow fadeInUp">
              <div class="date">
                <div class="year">2019</div>
                <div class="mouth">03.05</div>
              </div>
              <div class="text">
                <a href="" class="title">
                  大公拍卖行收购REVA，重金布局元宇宙
                </a>
                <div class="date">2020.08.12</div>
                <a class="desc">
                  Bain Capital is an international private equity investment fund with a management capital of more than
                  US
                  $65 billion, involving private equity, venture capital funds,
                  listed equity hedge funds and leveraged debt asset management.
                </a>
              </div>
            </li>
            <li class="consulting-item wow fadeInUp">
              <div class="date">
                <div class="year">2020</div>
                <div class="mouth">03.05</div>
              </div>
              <div class="text">
                <a href="" class="title">
                  REVA的异军崛起，nft新星到底有多强？
                </a>
                <div class="date">2020.08.12</div>
                <a class="desc">
                  Bain Capital is an international private equity investment fund with a management capital of more than
                  US
                  $65 billion, involving private equity, venture capital funds,
                  listed equity hedge funds and leveraged debt asset management.
                </a>
              </div>
            </li>
            <li class="consulting-item wow fadeInUp">
              <div class="date">
                <div class="year">2019</div>
                <div class="mouth">03.05</div>
              </div>
              <div class="text">
                <a href="" class="title">
                  英国大公拍卖行计划收购REVA，布局NFT数字艺术品收藏领域
                </a>
                <div class="date">2020.08.12</div>
                <a class="desc">
                  Bain Capital is an international private equity investment fund with a management capital of more than
                  US
                  $65 billion, involving private equity, venture capital funds,
                  listed equity hedge funds and leveraged debt asset management.
                </a>
              </div>
            </li>
          </ul>
        </div>

        <div class="swiper-pagination"></div>
      </div>

      <div class="bg-img">
        <img src="/public/images/home/consulting-bg.png" alt="">
      </div>
    </section>
    <section class="point-container">
      <div class="title-module wow fadeInUp">Our point of view</div>
      <div class="content max-center">
        <div class="cont-title wow fadeInUp">Discover value</div>
        <div class="info wow fadeInUp">
          英国大公旗下子公司Reva被公认为世界领先的知名数字艺术品收藏服务平台，注重高端NFT艺术品的收藏与拍卖，从2019年成立至今，REVA主导过多场高端数字艺术品拍卖活动，并受邀在纽约举行多场线下NFT艺术作品画廊展览会。大公旗下子公司REVA精湛的技术和市场拓展能力使其成为大公拍卖行最终选定的伙伴，成为其建立内部NFT市场计划的核心组成，并相继被贝恩资本和维京资本相中投资近六百万美元后，2021年10月，大公拍卖行斥资5000万美元，收购数字艺术品收藏领域创业企业REVA，使其成为旗下全资子公司，并表示收购后的REVA会保持独立品牌、维持独立运营，成为大公拍卖行负责NFT
        </div>
      </div>
      <ul class="point-list max-center">
        <li class="point-item">
          <div class="icon wow fadeInUp">
            <img src="/public/images/home/point-icon1.png" alt="nft拍卖">
            <div class="num">01</div>
          </div>
          <div class="text">
            <div class="title wow fadeInUp">nft拍卖</div>
            <div class="desc wow fadeInUp">甄别高端NFT的价值并为世人所知</div>
          </div>
        </li>
        <li class="point-item">
          <div class="icon wow fadeInUp">
            <img src="/public/images/home/point-icon2.png" alt="nft拍卖">
            <div class="num">02</div>
          </div>
          <div class="text">
            <div class="title wow fadeInUp">Nft收藏</div>
            <div class="desc wow fadeInUp">专业的专家团队负责在全世界范围甄选高端NFT</div>
          </div>
        </li>
        <li class="point-item">
          <div class="icon wow fadeInUp">
            <img src="/public/images/home/point-icon3.png" alt="nft拍卖">
            <div class="num">03</div>
          </div>
          <div class="text">
            <div class="title wow fadeInUp">Nft担保</div>
            <div class="desc wow fadeInUp">背靠雄厚资本安全，专业，放心</div>
          </div>
        </li>
      </ul>
      <a href="about.html" class="more wow fadeInUp">MORE &gt;&gt;</a>
    </section>
    <section class="team-container bg-module">
      <div class="team-main-cont max-center">
        <div class="text-container">
          <div class="left-layout">
            <div class="quotation-marks">
              <img src="/public/images/home/quotation-marks.png" alt="">
            </div>
          </div>
          <div class="right-layout">
            <div class="text-main-container swiper-container">
              <ul class="text-list swiper-wrapper">
                <li class="text-item swiper-slide swiper-no-swiping">
                  <div class="text">
                    <div class="title wow fadeInUp">
                      Kunov.Alidor
                      <span>/</span>
                      <span>首席执行总裁</span>
                    </div>
                    <div class="desc wow fadeInUp">
                      布里奥林克硅谷创新中心创始人兼首席执行官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;圣马特奥战略发展委员会主任
                      <br>哈萨克斯坦国家发展局主任
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      斯坦福高级经济师
                    </div>
                    <div class="desc wow fadeInUp">
                      Katoa“传统拍卖对于用户来讲，总有一个限制。我们能帮助它降低进入门槛，让它变得简单、有趣，并给品牌提供空间，
                      使其成为自己的品牌，总的来说，我们对去中心化充满热情，也很希望能够帮助用户进入这个领域，而这是一个很好的渠道。”
                    </div>
                  </div>
                </li>
                <li class="text-item swiper-slide swiper-no-swiping">
                  <div class="text">
                    <div class="title">
                      Kunov.Alidor
                      <span>/</span>
                      <span>首席执行总裁</span>
                    </div>
                    <div class="desc">
                      布里奥林克硅谷创新中心创始人兼首席执行官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;圣马特奥战略发展委员会主任
                      <br>哈萨克斯坦国家发展局主任
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      斯坦福高级经济师
                    </div>
                    <div class="desc">
                      Katoa“传统拍卖对于用户来讲，总有一个限制。我们能帮助它降低进入门槛，让它变得简单、有趣，并给品牌提供空间，
                      使其成为自己的品牌，总的来说，我们对去中心化充满热情，也很希望能够帮助用户进入这个领域，而这是一个很好的渠道。”
                    </div>
                  </div>
                </li>
                <li class="text-item swiper-slide swiper-no-swiping">
                  <div class="text">
                    <div class="title">
                      Kunov.Alidor
                      <span>/</span>
                      <span>首席执行总裁</span>
                    </div>
                    <div class="desc">
                      布里奥林克硅谷创新中心创始人兼首席执行官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;圣马特奥战略发展委员会主任
                      <br>哈萨克斯坦国家发展局主任
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      斯坦福高级经济师
                    </div>
                    <div class="desc">
                      Katoa“传统拍卖对于用户来讲，总有一个限制。我们能帮助它降低进入门槛，让它变得简单、有趣，并给品牌提供空间，
                      使其成为自己的品牌，总的来说，我们对去中心化充满热情，也很希望能够帮助用户进入这个领域，而这是一个很好的渠道。”
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="swiper-pagination swiper-text-pagination"></div>
          </div>
        </div>
        <div class="photo-container swiper-container">
          <ul class="photo-list swiper-wrapper">
            <li class="photo-item swiper-slide swiper-no-swiping">
              <div class="img wow fadeInRight">
                <img src="/public/images/home/team01.png" alt="">
              </div>
            </li>
            <li class="photo-item swiper-slide swiper-no-swiping">
              <div class="img">
                <img src="/public/images/home/team01.png" alt="">
              </div>
            </li>
            <li class="photo-item swiper-slide swiper-no-swiping">
              <div class="img">
                <img src="/public/images/home/team01.png" alt="">
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="bg-img">
        <img src="/public/images/home/team-bg.png" alt="">
      </div>
    </section>
    <section class="m-team-container bg-module">
      <div class="title-module wow fadeInUp">Team elite</div>
      <div class="team-swiper swiper-container">
        <div class="team-wrapper swiper-wrapper">
          <ul class="team-list swiper-slide max-center">
            <li class="team-item">
              <div class="text-box">
                <div class="num">01</div>
                <div class="cont">
                  <div class="title">
                    Kunov.Alidor
                    <span>/</span>
                    <span>首席执行总裁</span>
                  </div>
                  <div class="desc">
                    布里奥林克硅谷创新中心创始人兼首席执行官<br>
                    圣马特奥战略发展委员会主任<br>
                    哈萨克斯坦国家发展局主任<br>
                    斯坦福高级经济师
                  </div>
                  <a href="" class="more">
                    <span>MORE</span>
                    <img src="/public/images/team/more-arrow-right.png" alt="">
                  </a>
                </div>
              </div>
              <div class="img-box">
                <img src="/public/images/team/team1.png" alt="">
              </div>
            </li>
            <li class="team-item">
              <div class="img-box">
                <img src="/public/images/team/team2.png" alt="">
              </div>
              <div class="text-box">

                <div class="cont">
                  <div class="title">
                    Katoa
                    <span>/</span>
                    <span>首席运营官</span>
                  </div>
                  <div class="desc">
                    Typeform增长总监<br>
                    Creative Cloud营销高级总监<br>
                    GoDaddy产品营销总监<br>
                    芝加哥大学公共政策研究
                  </div>
                  <a href="" class="more">
                    <span>MORE</span>
                    <img src="/public/images/team/more-arrow-right.png" alt="">
                  </a>
                </div>
                <div class="num">02</div>
              </div>
            </li>
          </ul>
          <ul class="team-list swiper-slide max-center">
            <li class="team-item">
              <div class="text-box">
                <div class="num">01</div>
                <div class="cont">
                  <div class="title">
                    Kunov.Alidor
                    <span>/</span>
                    <span>首席执行总裁</span>
                  </div>
                  <div class="desc">
                    布里奥林克硅谷创新中心创始人兼首席执行官<br>
                    圣马特奥战略发展委员会主任<br>
                    哈萨克斯坦国家发展局主任<br>
                    斯坦福高级经济师
                  </div>
                  <a href="" class="more">
                    <span>MORE</span>
                    <img src="/public/images/team/more-arrow-right.png" alt="">
                  </a>
                </div>
              </div>
              <div class="img-box">
                <img src="/public/images/team/team1.png" alt="">
              </div>
            </li>
            <li class="team-item">
              <div class="img-box">
                <img src="/public/images/team/team2.png" alt="">
              </div>
              <div class="text-box">

                <div class="cont">
                  <div class="title">
                    Katoa
                    <span>/</span>
                    <span>首席运营官</span>
                  </div>
                  <div class="desc">
                    Typeform增长总监<br>
                    Creative Cloud营销高级总监<br>
                    GoDaddy产品营销总监<br>
                    芝加哥大学公共政策研究
                  </div>
                  <a href="" class="more">
                    <span>MORE</span>
                    <img src="/public/images/team/more-arrow-right.png" alt="">
                  </a>
                </div>
                <div class="num">02</div>
              </div>
            </li>
          </ul>
          <ul class="team-list swiper-slide max-center">
            <li class="team-item">
              <div class="text-box">
                <div class="num">01</div>
                <div class="cont">
                  <div class="title">
                    Kunov.Alidor
                    <span>/</span>
                    <span>首席执行总裁</span>
                  </div>
                  <div class="desc">
                    布里奥林克硅谷创新中心创始人兼首席执行官<br>
                    圣马特奥战略发展委员会主任<br>
                    哈萨克斯坦国家发展局主任<br>
                    斯坦福高级经济师
                  </div>
                  <a href="" class="more">
                    <span>MORE</span>
                    <img src="/public/images/team/more-arrow-right.png" alt="">
                  </a>
                </div>
              </div>
              <div class="img-box">
                <img src="/public/images/team/team1.png" alt="">
              </div>
            </li>
            <li class="team-item">
              <div class="img-box">
                <img src="/public/images/team/team2.png" alt="">
              </div>
              <div class="text-box">

                <div class="cont">
                  <div class="title">
                    Katoa
                    <span>/</span>
                    <span>首席运营官</span>
                  </div>
                  <div class="desc">
                    Typeform增长总监<br>
                    Creative Cloud营销高级总监<br>
                    GoDaddy产品营销总监<br>
                    芝加哥大学公共政策研究
                  </div>
                  <a href="" class="more">
                    <span>MORE</span>
                    <img src="/public/images/team/more-arrow-right.png" alt="">
                  </a>
                </div>
                <div class="num">02</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="bg-img">
        <img src="/public/images/home/team-bg.png" alt="">
      </div>
    </section>
    <div id="app">
      <section class="financing-container">
        <div class="title-module">Yearbooks</div>
        <div class="text-image">
          <img src="/public/images/home/financing.png" alt="">
        </div>
        <div class="financing-list">
          <div class="financing-item">
            <div class="right-layout max-center">
              <div class="text-container">
                
                <div class="top-swiper financing-swiper swiper-container">
                  <a @click="changeIndex('-')" class="prev">
                    <img src="/public/images/home/prev.png" alt="">
                  </a>
                  <div class="swiper-wrapper">
                    <div class="top-layout pc swiper-slide swiper-no-swiping" data-date="item.date" v-for="item in history"
                      :key="item.id">
                      <div class="date">{{item.time}}</div>
                      <div class="title">{{item.title}}</div>
                      <div class="desc" v-html="item.cont"></div>
                    </div>
                    <div class="top-layout m swiper-slide swiper-no-swiping" data-date="item.date" v-for="item in history" :key="item.id">
                      <div class="cont">
                        <div class="date">
                          <div class="num-date">{{item.time}}</div>
                          <div class="en-date">{{item.en_time}}</div>
                        </div>
                        <div class="title">{{item.title}}</div>
                      </div>
                    </div>
                  </div>
                  <a @click="changeIndex('+')" class="next">
                    <img src="/public/images/home/next.png" alt="">
                  </a>
                </div>

                <div class="bottom-layout">
                  <div class="navigation-container">
                    <a @click="changeIndex('-')">
                      <img src="/public/images/home/prev.png" alt="">
                    </a>
                    <a>
                      <img src="/public/images/home/1.png" alt="">
                    </a>
                    <a @click="changeIndex('+')">
                      <img src="/public/images/home/next.png" alt="">
                    </a>
                  </div>
                  <div class="date-container">
                    <ul class="date-list" :style="{left:left + 'px'}">
                      <li class="date-item" ref="dateItem" v-for="(it, index) in history"
                        :class="{on: index === activeIndex}" :key="it.id" @click="changeIndex(index)">
                        <div class="date">{{it.date}}</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
    <section class="m-financing-container">
      <div class="title-module">Yearbooks</div>
      <div class="title-img">
        <img src="/public/images/home/financing.png" alt="">
      </div>
      <ul class="financing-list">
        <li class="financing-item">
          <div class="date">2019</div>
          <div class="subtitle">January</div>
          <div class="info">成立技术开发总部</div>
        </li>
        <li class="financing-item">
          <div class="date">2019</div>
          <div class="subtitle">February</div>
          <div class="info">天使轮由贝恩资本领投100万美金</div>
        </li>
        <li class="financing-item">
          <div class="date">2019</div>
          <div class="subtitle">May</div>
          <div class="info">成立区块链研发中心</div>
        </li>
        <li class="financing-item">
          <div class="date">2020</div>
          <div class="subtitle">January</div>
          <div class="info">A轮由维京资本领投500万美金</div>
        </li>
        <li class="financing-item">
          <div class="date">2021</div>
          <div class="subtitle">February</div>
          <div class="info">成立投融资部门</div>
        </li>
        <li class="financing-item">
          <div class="date">2021</div>
          <div class="subtitle">October</div>
          <div class="info">5000万美元价格被英国大公国际拍卖行收购</div>
        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
      <script src="/public/js/vue.min.js"></script>
      <script>
        window.financing = [
          {
            id: "0",
            date: "2019",
            time: "2019.03.05",
            en_time: "January",
            title: "Bain Capital led the investment of 1 million",
            cont: "Bain Capital is an international private equity investment fund with a management capital of more than US $65 billion, involving private equity, venture capital funds, listed equity hedge funds and leveraged debt asset management."
          },
          {
            id: "1",
            date: "2020",
            time: "2020.03.05",
            en_time: "January",
            title: "Bain Capital led the investment of 1 million",
            cont: "Bain Capital is an international private equity investment fund with a management capital of more than US $65 billion, involving private equity, venture capital funds, listed equity hedge funds and leveraged debt asset management."
          },
          {
            id: "2",
            date: "2021",
            time: "2021.03.05",
            en_time: "January",
            title: "Bain Capital led the investment of 1 million",
            cont: "Bain Capital is an international private equity investment fund with a management capital of more than US $65 billion, involving private equity, venture capital funds, listed equity hedge funds and leveraged debt asset management."
          },
          {
            id: "3",
            date: "2022",
            time: "2022.03.05",
            en_time: "January",
            title: "Bain Capital led the investment of 1 million",
            cont: "Bain Capital is an international private equity investment fund with a management capital of more than US $65 billion, involving private equity, venture capital funds, listed equity hedge funds and leveraged debt asset management."
          },
        ]
      </script>
</body>

</html>