<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>大公拍卖行收购REVA，重金布局元宇宙</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="news-container max-center">
      <div class="title wow fadeInUp">大公拍卖行收购REVA，重金布局元宇宙</div>
      <div class="date wow fadeInUp">2019 | 03 | 21</div>
      <div class="content wow fadeInUp">
        Bain Capital is an international private equity investment fund with a management capital of more than US $65
        billion, involving private equity, venture capital funds,
        listed equity hedge funds and leveraged debt asset management.
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>