<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Collection&auction</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container bg-module">
      <div class="text-box">
        <div class="title wow fadeInUp">
          Strong funds for<br>
          auction guarantee
        </div>
        <div class="note wow fadeInUp">
          Reva relies on David auction house in the UK to guarantee the<br>auction with strong funds. 
        </div>
      </div>
      <div class="bg-img">
        <img src="/public/images/nft/inner_banner.png" alt="">
      </div>
    </section>
    <section class="offline-container">
      <div class="offline-wrapper max-center">
        <div class="title wow fadeInUp">
          OFFLIN AUCTION
        </div>
        <ul class="offline-list">
          <li class="offline-item wow fadeInUp">
            <div class="img">
              <img src="/public/images/nft/offline.png" alt="">
            </div>
            <div class="text">
              <div class="top">
                <div class="price">最终价格：$ 18,000</div>
                <div class="date">日期：2022年1月</div>
              </div>
              <div class="info">必胜客（Pizza Hut）的像素化披萨#3</div>
            </div>
          </li>
          <li class="offline-item wow fadeInUp">
            <div class="img">
              <img src="/public/images/nft/offline.png" alt="">
            </div>
            <div class="text">
              <div class="top">
                <div class="price">最终价格：$ 18,000</div>
                <div class="date">日期：2022年1月</div>
              </div>
              <div class="info">必胜客（Pizza Hut）的像素化披萨#3</div>
            </div>
          </li>
          <li class="offline-item wow fadeInUp">
            <div class="img">
              <img src="/public/images/nft/offline.png" alt="">
            </div>
            <div class="text">
              <div class="top">
                <div class="price">最终价格：$ 18,000</div>
                <div class="date">日期：2022年1月</div>
              </div>
              <div class="info">必胜客（Pizza Hut）的像素化披萨#3</div>
            </div>
          </li>
          <li class="offline-item wow fadeInUp">
            <div class="img">
              <img src="/public/images/nft/offline.png" alt="">
            </div>
            <div class="text">
              <div class="top">
                <div class="price">最终价格：$ 18,000</div>
                <div class="date">日期：2022年1月</div>
              </div>
              <div class="info">必胜客（Pizza Hut）的像素化披萨#3</div>
            </div>
          </li>
          <li class="offline-item wow fadeInUp">
            <div class="img">
              <img src="/public/images/nft/offline.png" alt="">
            </div>
            <div class="text">
              <div class="top">
                <div class="price">最终价格：$ 18,000</div>
                <div class="date">日期：2022年1月</div>
              </div>
              <div class="info">必胜客（Pizza Hut）的像素化披萨#3</div>
            </div>
          </li>
          <li class="offline-item wow fadeInUp">
            <div class="img">
              <img src="/public/images/nft/offline.png" alt="">
            </div>
            <div class="text">
              <div class="top">
                <div class="price">最终价格：$ 18,000</div>
                <div class="date">日期：2022年1月</div>
              </div>
              <div class="info">必胜客（Pizza Hut）的像素化披萨#3</div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>