<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Collection&auction</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="auction-container">
      <div class="auction-show">
        <span>全部</span>
        <img src="/public/images/arrow-down.png" class="icon">
      </div>
      <ul class="auction-list">
        <li class="auction-item">
          <a href="">全部</a>
        </li>
        <li class="auction-item">
          <a href="">拍卖作品</a>
        </li>
        <li class="auction-item">
          <a href="">收藏作品</a>
        </li>
        <li class="auction-item">
          <a href="">拍卖担保业务</a>
        </li>
        <li class="auction-item">
          <a href="">线下拍卖会</a>
        </li>
      </ul>
    </section>
    <section class="point-container">
      <div class="title-module">our point of view</div>
      <div class="max-center point-box">
        <ul class="nav-list">
          <li class="nav-item wow fadeInUp on">拍卖作品</li>
          <li class="nav-item wow fadeInUp">收藏作品</li>
          <li class="nav-item wow fadeInUp">拍卖担保业务</li>
          <li class="nav-item wow fadeInUp">线下拍卖会</li>
        </ul>
        <ul class="point-list">
          <li class="point-item on">
            <div class="product-item wow fadeInUp">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item wow fadeInUp">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
            <div class="product-item wow fadeInUp">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
            <div class="product-item wow fadeInUp">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
          <li class="point-item">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
          <li class="point-item">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
          <li class="point-item">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="m-point-container">
      <div class="max-center point-box">
        <ul class="point-list">
          <li class="point-item on">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
          <li class="point-item">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
          <li class="point-item">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
          <li class="point-item">
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point1.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,582,658.67</div>
                  <div class="date">拍卖时间：2021年9月1日</div>
                </div>
                <div class="bottom">Autoglyphs#463</div>
              </div>
            </div>
            <div class="product-item">
              <div class="img">
                <img src="/public/images/collection/point2.png" alt="">
              </div>
              <div class="text">
                <div class="top">
                  <div class="price">最终价格：$1,532,500.00</div>
                  <div class="date">拍卖时间：2021年10月26日</div>
                </div>
                <div class="bottom">IKB Cachet de Garantie#10</div>
              </div>
            </div>
          </li>
        </ul>
        <div class="text">
          <a href="" class="more">MORE &gt;&gt;</a>
        </div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>