<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Join</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="join-container">
      <div class="title-module">JOIN IN US</div>
      <ul class="join-list max-center">
        <li class="join-item wow fadeInUp">
          <div class="title">工作机会</div>
          <div class="desc">
            ⼀些世界上最顶尖的当代数字艺术藏品曾于REVA进行拍卖成交。作为⼀家充满抱负和价值导向的企业。我们在寻找将热情，活⼒，专业与创意投⼊每天⼯作的团队成员。
            作为⼀家跨国企业，REVA为您提供不同地区，部门，专业，能扩充知识和能⼒的职业发展机会。若您希望在前段的艺术⾏业参与REVA平等机会
          </div>
        </li>
        <li class="join-item wow fadeInUp">
          <div class="title">职位空缺</div>
          <div class="subtitle">艺术品鉴师</div>
          <div class="desc">
            作为⼀家跨国企业，REVA为您提供不同地区，部门，专业，能扩充知识和能⼒的职业发展机会。若您希望在新兴⾏业参与REVA将获得平等机会的竞争
          </div>
        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>